* {
  box-sizing: border-box;
}


body{
  margin: 20px;
  font-family: 'Pangolin', cursive;
  background-color: #00999e;
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

.jumbotron{
  background-color: inherit;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.search-bar{
  margin: 15px;
  align-items:center;
}

.search-bar-input{
  float: left;
  width: 70%;
}

.button{
  width: 15%;

}

@media screen and (min-width: 700px) {
  .button{
    width: 7%;
  }
}


.pet-container{
  /*border: 1px solid #ddd;*/
  /*background-color: #00c2c2;*/
  padding: 15px;
  height: 100%;
}


.pet-image{
  /*border-radius: 28px;*/
  width: 100%;
  max-height: 450px;
  align-items: center;
}

.pet-list-image{
  width: 300px;
  height: 200px;
}
.pet-info{
  /*border: 1px solid #ddd;
  border-radius: 15px;*/
  font-size: 17px;
  /*margin-left: 15px;*/
}

.pet-info li{
  list-style: none;
  margin: 10px 0;
}

.pet-description{
  font-size: 16px;
}

.header{
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: -8%;

}

.mySlides{
  width: 100%;
}

.w3-content{
  max-width:1200px;
}
